@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/vendor/fonts/Inter-Regular.woff2") format("woff2"),
  url("/vendor/fonts/Inter-Regular.woff")format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/vendor/fonts/Inter-Bold.woff2") format("woff2"),
       url("/vendor/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/vendor/fonts/Inter-Black.woff2") format("woff2"),
  url("/vendor/fonts/Inter-Black.woff")format("woff");
}

.body {
  margin: 0;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.content {
  display: grid;
  gap: 92px;
}

.header {
  margin: 0 auto;
  max-width: 1184px;
  height: 52px;
  padding: 28px 48px 0 48px;
  display: flex;
  justify-content: space-between;
}

.header__lang-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 18px;
}

.header__lang-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:hover {
  text-decoration: underline;
}

.logo {
  width: 176px;
  height: 52px;
}

.lead {
  max-width: 984px;
  padding-top: 56px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  align-self: center;
  text-align: center;
}

.lead__subtitle {
  margin: 0;
  padding: 32px 0 0 0;
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  align-self: center;
  text-align: center;
}

.lead__image-subtitle{
  margin: 0;
}

.lead__image {
  max-width: 100%;
  width: 100%;
  min-height: 615px;
  object-fit: cover;
  padding-top: 64px;
  display: block;
}

.lead__caption {
  min-width: 158px;
  height: 14px;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.intro {
  margin: auto;
  width: 100%;
  max-width: 984px;
  min-height: 429px;
}

.intro__title {
  padding: 0;
  margin: 0;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  padding: 40px 0 0 0;
  margin: 0;
  max-width: 690px;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  margin: 0;
  padding: 33px 0 0 0;
  max-width: 690px;
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
}

.photo-grid {
  max-width: 1184px;
  width: 100%;
  margin: auto;
}

.photo-grid__items {
  /* TODO make margine */
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places {
  margin: auto;
  max-width: 984px;
  display: grid;
  gap: 80px;
}

.place {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 48px 40px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
}

.place__title {
  margin: 0;
  padding: 0;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: place__title;
}

.place__image {
  width: 100%;
  object-fit: cover;
  grid-area: place__image;

}

.place__website {
  grid-area: place__website;
  align-self: end;
}

.place__url-heading {
  margin: 0;
  padding: 0 0 12px 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
  transition: .3s;
}

.place__link:hover {
  opacity: .8;
  transition: .3s;
}

.place__paragraphs {
  max-width: 484px;
  font-size: 18px;
  line-height: 163%;
  grid-area: place__paragraphs;
}

.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
}

.cover {
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
}

.cover__link {
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(/images/cover-trains.jpg);
  background-size: cover;
  position: relative;
}

.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 2;
}

.cover__subtitle {
  margin: 0;
  padding: 32px 0 0 0;
  max-width: 360px;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  z-index: 2;
}

.cover__link:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
  transition: .3s;
}

.cover__link:hover:before {
  opacity: .8;
  transition: .3s;
}

.footer {
  margin: 0 auto;
  max-width: 1184px;
  padding: 92px 0 24px 0;
  display: flex;
  justify-content: space-between;
}

.footer_links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 1120px){
  .lead__image {
    min-height: 580px;
  }

  .photo-grid {
    max-width: 928px;
  }


  .cover__link {
    min-height: 640px;
  }

  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 960px){
  .content {
    gap: 88px;
  }

  .lead__image {
    min-height: 480px;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    max-width: 720px;
  }

  .photo-grid {
    max-width: 720px;
  }

  .places {
    max-width: 720px;
  }

  .cover__link {
    min-height: 480px;
  }

  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 540px){
  .content {
    gap: 64px;
    margin: 0 auto;
  }

  .logo{
    width: 142px;
    height: 42px;
  }

  .header {
    padding: 16px 0 0 0;
    max-width: 288px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
  .lead__subtitle {
    padding: 16px 0 0 0;
    font-size: 16px;
    line-height: 20px;
  }
  .lead__image {
    min-height: 200px;
    padding-top: 40px;
  }

  .intro {
    max-width: 288px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    font-size: 16px;
    line-height: 163%;
  }

  .photo-grid {
    max-width: 288px;
  }

  .photo-grid__items {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 12px;
  }

  .places {
    width: 100%;
    gap: 50px;
  }

  .place {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraphs";
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    width: 100%;
    margin: auto;
  }

  .place__subtitle {
    max-width: 288px;
    width: 100%;
    margin: auto;
  }

  .place__website {
    max-width: 288px;
    width: 100%;
    margin: auto;
  }

  .place__paragraphs{
    max-width: 288px;
    width: 100%;
    margin: auto;
  }

  .cover {
    min-height: 200px;
    width: 100%;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }

  .footer {
    padding: 64px 0 24px 0;
    flex-direction: column;
    gap: 48px;
    max-width: 288px;
    width: 100%;
    margin: auto;
  }

  .footer_links {
    flex-direction: column;
    gap: 32px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }

  .footer__copyright {
    line-height: 14px;
  }
}



