.place__paragraphs {
  max-width: 484px;
  font-size: 18px;
  line-height: 163%;
  grid-area: place__paragraphs;
  align-self: start;
  display: grid;
  gap: 27px;
}

@media screen and (max-width: 960px) {
  .place__paragraphs {
    font-size: 16px;
    gap: 25px;
  }
}

@media screen and (max-width: 540px) {
  .place__paragraphs {
    max-width: 288px;
    width: 100%;
    margin: auto;
  }
}
